<p id="notice"><%= notice %></p>

<div>
	<h2><%= @user.name %>'s first post was this:</h2>
	<p>
		<i><%= @user.microposts.first.created_at %></i>
		<br>
		<%= @user.microposts.first.content %>
	</p>
</div>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
